
/* Main Blue: #1080E1 */

@font-face {
  font-family: "FiraCode";
  src: url('../fonts/FiraCode/FiraCode-Regular.woff2'),
       url('../fonts/FiraCode/FiraCode-Regular.woff'),
       url('../fonts/FiraCode/FiraCode-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

  text-align: left;

  background-color: #eee;
  color: #111;
}

html {
  padding: 0.5rem 1rem;
}

code {
  font-family: FiraCode, monospace;
  font-size: 90%;

  background-color: #D0D0D0;
  
  padding: 0.1em 0.25em;
}

/* p's */
p {
  margin-top: 0.5em;
  margin-bottom: 0;
  padding: 0;
}

/* p's following p's */
p + p {
  margin-top: 0;
}

/* the last p */
p:last-of-type {
  margin-bottom: 0.5em;
}

h1,
h2 {
  display: inline-block;

  color: #1008E1;

  margin-top: 0;
  margin-bottom: 0.5rem;

  padding-left: 0.5em;
  padding-right: 0.5em;


  border-left: 0.125em solid #333;
  border-bottom: 0.125em solid #333;
  border-bottom-left-radius: 0.25em;

  font-variant-caps: small-caps;
}

h2 {
  margin-left: 1rem;
}

a {
  cursor: pointer;
  color: #1008E1;
}

a:visited {
  filter: brightness(80%);
}

h1 > a,
h2 > a {
  all: inherit;

  margin: 0;
  padding: 0;
  border: none;

  cursor: pointer;
}

h1 > a:visited,
h2 > a:visited {
  filter: none;
}

span {
  display: inline-block;
  max-width: 50rem;
}

hr {
  all: unset;

  display: inline-block;
  width: 100%;
  height: 0%;

  margin: 1em 0 2em 0;
  
  border-bottom: 0.2em solid #333;
}

#wrapper {
  display: grid;
  gap: 1rem;

  margin-left: 1rem;
  margin-right: 1rem;
}

.demo-button {
  cursor: pointer;

  /* display: block; */
  width: 100%;
  box-sizing: border-box;

  padding: 1rem;

  text-align: center;

  border-style: solid;
  border-color: #333;
  border-width: 0.125rem;
  border-radius: 0.5rem;

  color: inherit;
  background-color: #ddd;

  transition: box-shadow 0.2s;
}

.demo-button:hover {
  box-shadow: 0 0 1.0rem 0rem #666;
}

.demo-button:active {
  box-shadow: 0 0 0.65rem 0.35rem #666;
}

.demo-button > img {
  object-fit: contain;

  width: 100%;
  height: calc(100% - 1.5em);
  margin:auto;
}


/*
  The main layout requires 66rem across. That's
   3 * 20rem for the grid columns, 2rem for the
   grid gaps, 2rem for the wrapper margins,
   and 2rem for the html padding

  The second layout requires 45rem. Starting
   from the 66rem above, remove 20rem for
   one column and 1rem for the grid gap

  The final layout requires 22rem. Remove
   an additional 20rem for the grid column,
   1rem for the grid gap, and the 2rem from
   the wrapper margin

  I'm not going to bother writing a sub-22rem
   layout unless I notice issues on phones.
*/

@media (width < 35rem) {
  #wrapper {
    margin-left: 0;
    margin-right: 0;

    grid-template-columns: 1fr;
  }
}

@media (66rem > width >= 35rem) {
  #wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20rem;
  }
}

@media (width >= 66rem) {
  #wrapper {
    grid-template-columns: repeat(3, 20rem);
    grid-template-rows: 20rem;
  }
}